<!DOCTYPE html>
<html>
<head>
    <title>About</title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="navbar">

        <a href="/">Home</a>

        <a href="/add_student">Add Student</a>

        <a href="/view_students">View Students</a>

        <a href="/search_student">Search Student</a>

        <a href="/about">About</a>

    </div>

<h1>About This Project</h1>

<p>
    The Student Academic Management System is a database-driven web application
    developed using Python, Flask, and SQLite for managing student academic records.
</p>

<p>
    The application provides an easy-to-use interface for storing, searching,
    updating, and managing student information.
</p>

<h2>Features</h2>

<ul>
    <li>Add Student Records</li>
    <li>View Student Records</li>
    <li>Edit Student Information</li>
    <li>Delete Student Information</li>
    <li>Search Students</li>
    <li>Dashboard Statistics</li>
    <li>Academic Information Management</li>
</ul>

<h2>Technologies Used</h2>

<p>
    Python • Flask • SQLite • HTML • CSS • JavaScript
</p>

<h2>Developer</h2>

<p>
    Benjamin Ayivoh
</p>

<p>
    University of Ghana
</p>

</body>
</html>